.navbar {
  background: linear-gradient(90deg, rgba(73, 66, 255, 1) 0%, rgba(29, 175, 253, 1) 50%, rgba(105, 246, 30, 1) 100%);
  padding: 0 2%;
}

.navbar-brand {
  font-family: 'Akshat Sans', sans-serif;
  font-size: 40px;
}
