<div id="login-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="mb-3">
        <label for="login-email" class="form-label"> Email: </label>
        <input
          id="login-email"
          class="form-control"
          type="text"
          autocomplete="username"
          formControlName="email"
        />
      </div>

      <div class="mb-3">
        <label for="login-password" class="form-label"> Password: </label>
        <input
          id="login-password"
          class="form-control"
          type="password"
          autocomplete="current-password"
          formControlName="password"
        />
      </div>
      <p class="text-danger hidden" id="login-error">
        Incorrect email/password. Try again
      </p>
      <button class="btn btn-outline-dark" type="submit">Login</button>
    </form>
  </div>
</div>

<div class="alert alert-success hidden" id="success" role="alert">
  Successfully created a new post. View it
  <a
    [routerLink]="['/']"
    routerLinkActive="router-link-active"
    class="alert-link"
    >here</a
  >.
</div>
<div class="alert alert-danger hidden" id="error" role="alert">
  Something went wrong... Try again by refreshing the page
</div>

<form id="blog-form" [formGroup]="createPostForm" (ngSubmit)="createBlog()">
  <h2>Create new blog post</h2>

  <div class="mb-3">
    <label for="post-title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      id="post-title"
      autocomplete="off"
      formControlName="title"
    />
  </div>

  <div class="mb-3">
    <label for="post-desc" class="form-label">Short Description</label>
    <textarea
      type="text"
      class="form-control"
      id="post-desc"
      formControlName="description"
    ></textarea>
  </div>

  <div class="input-group mb-3">
    <input
      type="file"
      class="form-control"
      formControlName="file"
      (change)="fileInputChange($event)"
    />
  </div>
  <button type="submit" class="btn btn-outline-light">Create</button>
</form>
