// Global Styling
// Akshat Sans
@font-face {
  font-family: "Akshat Sans";
  src: url("assets/akshat-sans/AkshatSans-Regular.eot");
  src: url("assets/akshat-sans/AkshatSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("assets/akshat-sans/AkshatSans-Regular.woff2") format("woff2"),
    url("assets/akshat-sans/AkshatSans-Regular.woff") format("woff"),
    url("assets/akshat-sans/AkshatSans-Regular.ttf") format("truetype"),
    url("assets/akshat-sans/AkshatSans-Regular.svg#AkshatSans-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Ubuntu Sans and Oxygen
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  background-color: black;
  color: white;
  font-family: "Oxygen", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
}

.center {
  text-align: center;
  margin: 15% 0px;
}
